
      <div class="container-fluid">
        <form action="/login" method="post" class="form-signin">
           <h2 class="form-signin-heading">Please Login</h2>
            <fieldset class="input-group form-group">
               <label for="inputEmail" class="sr-only">Email address</label>
                <input id="email" class="form-control" type="email" placeholder="Email Address" name="email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input id="password" class="form-control" type="password" placeholder="Password" name="password" required>
                <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
                <p>Don't have an account? <br> <a href="/register">Register</a>
            </fieldset>
        </form>
          </div>
      </div>
    </div>