
<div class="col-lg-6 col-md-offset-3">
    <strong ng-show="currentDoctor">Current Doctor - {{:: currentDoctor}}</strong>
    <form class="form-horizontal" name="patientForm" ng-submit="register(patient) && clearForm()">
        <fieldset>
            <div id="legend">
                <legend class="">Update Patient</legend>
            </div>
            <h3>Old Information</h3>
            <div class="control-group">
                <label class="control-label" for="firstname">First Name</label>
                <span style="color:red" ng-show="patientForm.firstname.$pristine && patientForm.firstname.$invalid">*</span>
                <div class="controls">
                    <input type="text" ng-model="patient.firstname" name="firstname" placeholder="" class="form-control" disabled>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="lastname">Last Name</label>
                <span style="color:red" ng-show="patientForm.lastname.$pristine && patientForm.lastname.$invalid">*</span>
                <div class="controls">
                    <input type="text" name="lastname" placeholder="" class="form-control" ng-model="patient.lastname" disabled>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <span style="color:red" ng-show="patientForm.email.$pristine && patientForm.email.$invalid">*</span>
                <span style="color:red" ng-show="patientForm.email.$error.email">Invalid email address.</span>
                <div class="controls">
                    <input type="text" id="email" ng-model="patient.email" name="email" placeholder="" class="form-control" disabled>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="age">Age</label>
                <span style="color:red" ng-show="patientForm.age.$pristine && patientForm.age.$invalid">*</span>
                <div class="controls">
                    <input type="text" ng-model="patient.age" name="age" placeholder="" class="form-control" disabled>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="doctor">Family Doctor</label>
                <span style="color:red" ng-show="patientForm.doctor.$pristine && patientForm.doctor.$invalid">*</span>
                <div class="controls">
                    <input type="text" ng-model="patient.familyDoctor" name="age" placeholder="" class="form-control" disabled>
                </div>
            </div>
            <h3>New Information</h3>
             <div class="control-group">
                <label class="control-label" for="firstname">First Name</label>
                <span style="color:red" ng-show="patientForm.firstname.$pristine && patientForm.firstname.$invalid">*</span>
                <div class="controls">
                    <input type="text" ng-model="update.firstname" name="newfirst" placeholder="" class="form-control" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="lastname">Last Name</label>
                <span style="color:red" ng-show="patientForm.lastname.$pristine && patientForm.lastname.$invalid">*</span>
                <div class="controls">
                    <input type="text" name="newlast" placeholder="" class="form-control" ng-model="update.lastname" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="email">E-mail</label>
                <span style="color:red" ng-show="patientForm.email.$pristine && patientForm.email.$invalid">*</span>
                <span style="color:red" ng-show="patientForm.email.$error.email">Invalid email address.</span>
                <div class="controls">
                    <input type="text" id="email" ng-model="update.email" name="newemail" placeholder="" class="form-control" required>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="age">Age</label>
                <span style="color:red" ng-show="patientForm.age.$pristine && patientForm.age.$invalid">*</span>
                <div class="controls">
                    <input type="text" ng-model="update.age" name="newage" placeholder="" class="form-control" required>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="doctor">Family Doctor</label>
                <span style="color:red" ng-show="patientForm.doctor.$pristine && patientForm.doctor.$invalid">*</span>
                <div class="controls">
                    <select class="btn btn navbar-left" ng-options="doctor.fullname for doctor in doctorModel" ng-model="update.familyDoctor" name="newdoctor"><!--ng-change="selectedDoctor(doctor)"-->
				        <option value="" disabled selected>Choose doctor...</option>
                    </select>
                </div>
            </div>

            <div class="control-group">
                <!-- Button -->
                <div class="controls">
                        <button class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>
    </div>